
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(190, 190, 190);
}
.footer{
    text-align: center;
    background-color: #1877f2;
    padding: 10px 0;
    border-top-right-radius: 10px;
}
.footerText{
    font-size: 14.5px;
    color: white;
}
.brand{
    color: #0ff;
    font-size: 20px;
}